body{
    background-image: url('./Desktop\ -\ 1.png');
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(247, 229, 204);
}

* {
    outline: none;
  }
  
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #ffd8d8;
  }



.row{
  padding: 10px;
}

a{
  text-decoration: none;
}

#dashboard{
  display: flex;
}

#dashboard h3,p{
  font-family: 'League Spartan';
font-style: normal;
font-weight: 600;
font-size: 43px;
line-height: 40px;
  margin-left: 5px;
  margin-top: -1px;
}

.nvbar a{
  font-size: 1.5rem;
  color: #ff7c7c;
  margin-left: 2rem;
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.nvbar a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6537;
  transform: scaleX(0);
  transform-origin: left;
  transition: .3s ease-in;
}

.nvbar a:hover::after{
  transform: scaleX(1);
}


.User{
  display: flex;
}

.User a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #ff7c7c;
}

.User p{
  margin-top: 3px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ff7c7c;
}

.artists{
  font-family: 'Song Myung';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 110%;
/* or 43px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.155em;

color: #FFFFFF;
}

.menu{
  margin-top: -2.5rem;
  text-align: center;
  font-family: 'League Spartan';
}

.menu h3{
  font-weight: 700;
  margin-left: -35px;
}

.menu a{
  text-decoration: none;
  color: #fab6b6;
  font-weight: 500;
  font-size: 1.3rem;
}

.library{
  margin-top: .8rem;
  text-align: center;
  font-family: 'League Spartan';
}

.library h3{
  font-weight: 700;
  margin-left: -35px;
}

.library a{
  text-decoration: none;
  color: #fab6b6;
  font-weight: 500;
  font-size: 1.3rem;
}

.Tags{
  margin-left: 5%;
  margin-top: .8rem;
  text-align: center;
  font-family: 'League Spartan';
}

.tags h3{
  font-weight: 700;
  margin-left: -35px;
}

.tags a{
  text-decoration: none;
  color: #fab6b6;
  font-weight: 500;
  font-size: 1.3rem;
}




.col-md-6{
  background-color: rgba(253, 123, 52, 0.2);
}


.discover{
  margin-top: -0.5rem;
}

.dicover h3{
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 43px;
}

.trending-song{
  padding: 2%;
  text-align: end;
}

.trending-song h5{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.trending-song h2{
  margin-top: -5px;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 43px;
  cursor: pointer;
}

.trending-hit-details{
  margin-top: -15px;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.trending-hit-details p{
  font-size: 1.2rem;
  font-weight: 700;
}

.title-top-5{
  margin-top: 3rem;
  padding-right: 4%;
  text-align: end;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}


.top-5s{
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

#top-1{
  cursor: pointer;
  text-align: center;
  font-family: 'Slabo 13px';
}

.recent-playes-title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.artist-1{
  font-family: 'Song Myung';
  text-align: center;
  padding: 2%;
}

.artist-1 h4{
  font-weight: 700;
  font-size: 1rem;
}

.artist-1 img{
  padding: auto;
  border-radius: 5%;
}

.artist-2{
  font-family: 'Song Myung';
  text-align: center;
  padding: 2%;
}

.artist-2 img{
  padding: auto;
  border-radius: 5%;
}

.artist-2 h4{
  font-weight: 700;
  font-size: 1rem;
}



.top-artists-names{
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

/* music player */

.music-player{
  border-radius: 5%;
  border: 1px solid white;
  background: linear-gradient(#4a4949, #1e1e1e);
}

.screen-body{
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen-body img{
  border-radius: 5%;
  width: 150px;
  height: 140px;
}

.screen-body h3{
  font-family: Nunito;
  font-size: 1.8rem;
  font-weight: 700;
  color: aliceblue;
}

.screen-body p{
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  margin-top: -10px;
}

.music-timeline {
  width: 90%;
  height: 5px;
  background-color: #ddd;
  
}

.music-timeline .progress {
  height: 100%;
  background-color: #ff4f5a;
}


.music-controls{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.music-controls a{
  text-decoration: none;
  color: #ffffff;
}

#pause{
  font-size: 2.4rem;
}

#prev,
#next{
  font-size: 2rem;
   margin-top: 5px;
}

.pnp{
  display: flex;
  gap: 10px;
}

.shuffle a{
  margin-right: 1rem;
  margin-top: 5px;
  font-size: 1.5rem;
}

.liked a{
  margin-left: 1rem;
  margin-top: 5px;
  font-size: 1.5rem;
}